html{
    margin: 0;
    padding: 0;
  }
  
  body{
    margin: 0;
    padding: 0;
    background-color: #312F2F;
    color: #C0C0C0;
    font-family: monaco, monospace;
  }
  
  navbar{
    display: flex;
    flex-direction: row;
  }
  
  li{
    display: inline;
    font-size: 16px;
    margin: 15px;
  }
  
  ul{
    list-style-type: none;
    margin: 0;
    margin-right: 32.5px;
    padding: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 3.25vh;
    float: right;
  }
  
  a{
    text-decoration: none;
    color: #C0C0C0; 
  }
  
  header{
    background-color: #DA4167;
    position: fixed;
    width: 100vw;
    height: 10vh;
    margin: 0;
    padding: 0;
  }
  
  p{
    color: #DA4167;
    font-style: italic;
    font-size: 18px;
    margin-top: -25px;
  }
  
  img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 10px;
  }
  
  h2{
    font-size: 32px;
    text-align: center;
    color: #DA4167;
  }
  
  h3{
    font-size: 14px;
    margin-top: 0px;
  }
  
  section{
    height: 100vh;
    width: 100vw;
    padding-top: 10vh;
  }
  
  #projects{
    background-color: #2D436B;
    padding-bottom: 10vh;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .project-tiles{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px 50px;
  }
  
  .project-tile{
    width: 220px;
    background-color: #C0C0C0;
    color: #312F2F;
    display: inline-grid;
  }
  
  @media only screen and (max-width: 600px){
    img{
      width: 100px;
      height: 100px;
    }
    .project-tile{
      width: 120px;
    }
    h2{
      margin: 70px;
    }
  }
  
  @media only screen and (max-width: 1100px){
    .project-tiles{
      grid-template-columns: auto auto;
    }
  }
  
  @media only screen and (min-width: 1100px){
    .project-tiles{
    grid-template-columns: auto auto auto auto;}
  }
  
  
  
  #contact{
    padding-bottom: 10vh;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  #welcome-section{
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  h1{
    font-size: 45px;
    margin-top: 30vh;
  }
  
  #contacts{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    float: right;
  }
  
  .fa{
    color: #DA4167;
    margin-right: 8px;
  }
  
  #profile-link{
    color: #DA4167;
  }